html,body{
    background-color: black !important;
    color:white;
    height: 99%;
    font-family: 'Open Sans';
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box !important;
}
button{
    border: none;
}
p{
    margin: 0px !important;
}

.containermain{
    /* max-width:99%; */
    display: flex;
    height: 95%;
    gap:10px;
}

header{
    display:block;
    margin-top:5px;
    margin-bottom:5px;
    max-height: 30px;
}
header p{
    text-align: center;
    color: rgb(1, 151, 1);
    text-shadow: 1px 1px 4px rgb(1 151 1);
    font-size: 1.5em;
    letter-spacing: 0.7px;
    font-weight: 500;
}
.performanceScreen{
    display: none;
}
.manageLearningScreen{
    display:none;
}
.pracContainer{
    max-width: 21%;
    position: relative;
    display: flex;
    gap:2px
}
.nav{
    display: inline-flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    max-width: fit-content;
    gap:10px;
    margin-left: 10px;
}

.navitems{
    background: transparent;
}
.navitems:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.12);
}
.separator{
    border:1px solid green;
    max-width:1px;
    height:100%;
    content:''
}
.hor-sep{
    width: 80%;
    background-color: green;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
}
.praclist{
    margin-left: 5%;
    max-height: 89%;
}
.form-class{
    display: flex;
    background-color: #555;
    border:1px solid currentColor;
    color:#555;
    border-radius: 5px;
    margin-bottom:8%;
    margin-top:2%
}
input[type="text"]{
  border:none;
  background:#555;
  color:white;
  border:1px solid transparent;
  border-radius: inherit;
  margin: 0;
}
button[type="submit"]{
    background:#555 url("assets/searchVector.svg") no-repeat center;
    border:1px solid transparent;
    border-radius: inherit;
    margin:0;
    padding:10px
}
input[type="text"]:focus{
    outline: none;
}

.practitioner{
    max-height:100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.practitioner::-webkit-scrollbar{
    margin-left: 20px;
    width:15px;
    background-color:rgba(255, 255, 255, 0.12);
}
.practitioner::-webkit-scrollbar-thumb{
  background-color: green;
  border-left:10px solid black;
  border-radius: 20px;
  height:10px
}
.practitioner::-webkit-scrollbar-track{
   background-color: black;
  }
.singlePractitioner{
    display: flex;
    align-items: center;
    gap:5%;
    border-radius: 5px;
    align-items: center;
    padding:0;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.5); */
}
.singlePractitioner:hover{
    background-color: rgba(255, 255, 255, 0.12);
}
.singlePractitioner:checked{
    background-color: #008000;
}
.pracDef{
    padding:0.5rem;
}
.pracRole{
    color:white;
    opacity:0.7;
    font-size: 0.8em;
}
.pracName{
    font-size: 0.8em;
}
.pracUnderline{
    width:inherit;
    height:1px;
    background-color: rgba(255, 255, 255, 0.5);
    margin:3% 0;
}
.courseContainer{
    min-width:77%;
    display:flex;
    /* gap:30px; */
}
.staffitCourses,.performanceCourses{
 /* border:4px solid rgba(255, 255, 255, 0.12) */
}
.staffitCourses,.performanceCourses{
    max-width:50%;
    margin-left: 30px;
    max-height: 100%;
    margin-top:2.5%;
    /* overflow-y: scroll; */
}
.courseInfo{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom:0.4rem;
    margin-top:1.3rem;
}

.singleButton{
    display: flex;
    gap:5px
}
.courses,.coursesProposed{
    padding:0 10px;
    font-size: 12px;
    border:5px solid rgba(255, 255, 255, 0.12);
    border-bottom:5px solid rgba(255, 255, 255, 0.12);
    border-top:5px solid rgba(255, 255, 255, 0.12);
}
.courses ,.coursesProposed{
    display: flex;
    gap: 2%;
    min-width: 0;
    padding: 10px 10px;
}
.courseDescription{
    width: 385px;
    overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
}
.courseActions{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 12px;
}
.courseActions button{
    background-color: #43B02A;
    border-radius: 50px;
    width: 18px;
    height: 18px;
}
.courseActions button:nth-child(2) img{
    position: relative ;
    left: -1.1px;
    top: -1.5px;
}
.courseActions button:first-child img{
    position: relative;
    top:-1.5px
}
.courseActions input[type='checkbox']{
    padding: 0px;
    appearance: none;
    width:16px;
    height : 16px;
    border : 1.5px solid #43B02A;
    border-radius: 20px; 
}
.courseActions input[type='checkbox']:checked{
    background-color: #43B02A;
    box-shadow: inset 0px 0px 0px 3.4px black;
}
.courseHolder,.courseHolderProposed{
    max-height:90%;
    overflow-y: scroll;
}
.courseHolder::-webkit-scrollbar, .courseHolderProposed::-webkit-scrollbar{
    width:10px;
}
.courseHolder::-webkit-scrollbar-thumb, .courseHolderProposed::-webkit-scrollbar-thumb{
    background-color: green;
  /* border-left:10px solid black; */
  border-radius: 20px;
}
/* .courseHolder::-webkit-scrollbar-track{
    color: azure;
    background-color: #1f1f1f;
} */
#datePosted{
    float:right
}
.courseDetails{
    padding-right: 1%;
}
.courseTitle{
    font-weight: 500;
    color: white !important;
    padding-bottom: 8px;
}
.courseSourceDate{
    display: flex;
    justify-content: space-between;
    margin-top: 0.3rem;
    margin-bottom:0.7rem;
}
.assign{
    padding:6px 12px;
    background-color: #019701;
    color:white;
    box-shadow: inset -1px -1px 3px 0px rgb(255 255 255 / 30%),
                1px 1px 1px 0px #019701;
    border:1px solid #019701; 
    float:right;
    margin-right:2%           
}
.courseHeading{
    text-align: center;
    font-family: 'open sans';
    font-size: 0.9rem;
    padding: 5px 0;
    background: #555555;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
