html,body{
    background-color: #1f1f1f !important;
    color:white;
    height: 98%;
    font-family: 'Open Sans';
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box !important;
}
button{
    border: none;
}
p{
    margin: 0px !important;
}

.containermain{
    max-width:99%;
    display: flex;
    height: 95%;
    gap:10px;
}

header{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    max-height: 30px;
    background: #292929;
    padding-bottom: 2.8%;
    box-shadow: 0px 1px 2px #1d1d1d;
}
header p{
    text-align: center;
    color: rgb(255 255 255);
    font-size: 1.4em;
    letter-spacing: 0.7px;
    font-weight: 500;
}
.performanceScreen{
    display: none;
}
.manageLearningScreen{
    display:none;
}
.pracContainer{
    position: relative;
    display: flex;
    gap: 2px;
    /* max-height: 100%; */
    margin-top: -0.3%;
}
.nav{
    display: inline-flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    max-width: fit-content;
    gap:10px;
    margin-left: 10px;
}

.navitems{
    background: transparent;
}
.navitems:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.12);
}
.separator{
    border:1px solid green;
    max-width:1px;
    height:100%;
    content:''
}
.hor-sep{
    width: 80%;
    background-color: green;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
}
.prac-header{
    /* margin-bottom: 5%;
    border-bottom: 1px solid #747171;
    padding-bottom: 4%; */
    margin-bottom: 5%;
    border-bottom: 1px solid #747171;
    padding: 5% 0;
}
.prac-header button{
    all: unset;
    position: absolute;
    left: 95%;
    top: 1.5%;
}
.prac-header input[type='text']{
    all: unset;
    color: white;
    max-width: 84%;
}
.praclist{
    margin-left: 3%;
    max-height: 100%;
    /* background: linear-gradient(267deg, #222222, black); */
    box-shadow: 0px 8px 10px 0px #0000008f;
    z-index: 2;
    padding-left: 2%;
}
.praclist p:first-child{
    margin-bottom: 2%;
}
.form-class{
    display: flex;
    margin-bottom: 2%;
    border-radius: 3px;

    margin-top: 1%;
    padding: 0.1rem;
    position: relative;
    border: 1px solid white;
}
.form-class:focus-within{
    background: #515151;
    border: 1px solid transparent;
}
input[type="text"]{
  all: unset;
  padding: 1%;
  color: white;
  margin-left: 1%;
}
.form-class button{
    border:1px solid transparent;
    border-radius: inherit;
    margin-left: 10px !important;
}
input[type="text"]:focus{
    outline: none;
}

.practitioner{
    max-height:91%;
    overflow-y: scroll;
    overflow-x: hidden;
    min-width: 15vw;
}
.practitioner::-webkit-scrollbar{
    margin-left: 20px;
    width:15px;
    background-color:rgba(255, 255, 255, 0.12);
    display: none;
}
/* .practitioner::-webkit-scrollbar-thumb{
  background-color: green;
  border-left:10px solid black;
  border-radius: 20px;
  height:10px
}
.practitioner::-webkit-scrollbar-track{
   background-color: black;
  } */
.singlePractitioner{
    display: flex;
    align-items: center;
    gap:5%;
    border-radius: 2px;
    align-items: center;
    padding:0;
    position: relative;
    transition: transform 0.5s;
    margin-bottom: 2%;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.5); */
}
.singlePractitioner:hover{
    background-color: rgba(255, 255, 255, 0.12);
}
.singlePractitioner:checked{
    background-color: #008000;
}
.pracDef{
    padding:0.5rem;
}
.pracRole{
    color:white;
    opacity:0.7;
    font-size: 0.8em;
}
.pracName{
    font-size: 0.8em;
    white-space: nowrap;
}
.pracUnderline{
    width:inherit;
    background-color: rgba(255, 255, 255, 0.5);
    margin:3% 0;
}
.pin-button{
    all: unset; 
     margin-left: 10%; 
     margin-bottom: 2%;
     display: none;
}
.courseContainer{
    display: flex;
    flex-wrap: wrap;
    /* background: linear-gradient(88deg, #1f1f1f, transparent); */
    max-height: 93%;
}
.staffitCourses,.performanceCourses{
    max-width: 95%;
    margin-left: 4%;
    height: 100%;
    /* overflow-y: scroll; */
}
.performanceCourses{
    display: none;
}
.courseInfo{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom:0.4rem;
    margin-top:1.3rem;
}

.singleButton{
    display: flex;
    gap:5px
}
.courses,.coursesProposed{
    padding: 0 10px;
    font-size: 12px;
    margin-bottom: 3%;
    background: #191c24;
    border: 1px solid rgba(0, 0, 0, 0.125);
    /* border:5px solid rgba(255, 255, 255, 0.12);
    border-bottom:5px solid rgba(255, 255, 255, 0.12);
    border-top:5px solid rgba(255, 255, 255, 0.12); */
}
.courses ,.coursesProposed{
    display: flex;
    gap: 2%;
    min-width: 0;
    padding: 1%;
    box-shadow: 0px 2px 4px 0px #000000de;
}
.courseImage{
    /* flex-basis: 30% ; */
    border: 1px solid white;
    max-width: 35%;
}
.courseImage img{
    max-width: 100%;
    min-height: 100%;
}
.courseDescription{
    max-width: 100%;
    overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
}
.courseActions{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.courseActions button{
    background-color: #43B02A;
    border-radius: 50px;
    width: 18px;
    height: 18px;
}
.courseActions button:nth-child(2) {
    /* position: relative ;
    /* left: -1.1px;
    top: -1.5px; */
    background-color: white;
    /* all: unset; */
}
.courseActions button:nth-child(2) img{
    position: relative;
    right: 0.4rem;
    bottom: 2.5px;
}
.courseActions button:first-child img{
    position: relative;
    top:-1.5px
}
.courseActions input[type='checkbox']{
    padding: 0px;
    appearance: none;
    width:16px;
    height : 16px;
    border : 1.5px solid #43B02A;
    border-radius: 20px; 
}
.courseActions input[type='checkbox']:checked{
    background-color: #43B02A;
    box-shadow: inset 0px 0px 0px 3.4px black;
}
.courseHolder,.courseHolderProposed{
    max-height:90%;
    overflow-y: scroll;
}
.courseHolder::-webkit-scrollbar, .courseHolderProposed::-webkit-scrollbar{
    display: none;
}
.courseHolder::-webkit-scrollbar-thumb, .courseHolderProposed::-webkit-scrollbar-thumb{
    background-color: green;
  /* border-left:10px solid black; */
  border-radius: 20px;
}
/* .courseHolder::-webkit-scrollbar-track{
    color: azure;
    background-color: #1f1f1f;
} */
#datePosted{
    float:right
}
.courseDetails{
    padding-right: 1%;
}
.courseTitle{
    font-weight: 500;
    color: white !important;
    padding-bottom: 8px;
}
.courseSourceDate{
    display: flex;
    justify-content: space-between;
    margin-top: 0.3rem;
    margin-bottom:0.5rem;
}
.assign{
    padding: 1px 12px;
    background-color: #019701;
    color: white;
    box-shadow: inset -1px -1px 3px 0px rgb(255 255 255 / 30%), 1px 1px 1px 0px #019701;
    border: 1px solid #019701;
    float: right;
    margin-right: 1%;
    margin-left: auto;
}      
.courseHeading{
    /* text-align: center; */
    font-family: 'open sans';
    font-size: 1.1rem;
    padding: 5px 0;
    font-weight: 500;
    /* background: #555555; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.courseSource{
    display: inline-flex;
    /* position: relative;
    left: 38%; */
    align-items: center;
    gap: 8px;
    border-radius: 20px;
    /* padding: 2px 8px; */
}
.courseRec{
    text-align: left;
}
.courseRec p:first-child{
  
    font-weight: 500;
}
.staffitCourses img:nth-child(2){
    float: right;
    position: relative;
    right: 4%;
    bottom: 5%;
    color: white;
}
.staffitCourses svg{
    color: white;
}
.searchFilter{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
/* .searchFilter button:last-child{
    margin-right: 1%!important;
} */
.searchFilter button{
    all: unset !important;
    padding-left: 5% !important;
    margin-bottom: 3px !important;
}
@media only screen and (max-width :700px ) {
    .courses{
        display: block;
    }
    .courseImage{
        min-width: 100%;
    }
    .courseActions{
        flex-direction: row;
        margin-top: 4%;
        margin-bottom: 1%;
    }
    /* .nav{
        display: none !important;
    } */
}
.no-results{
    min-width: 72vw;
    height: 100%;
    text-align: center;
    display: none;
}
.no-results img{
    max-width: 30%;
    max-height: 42%;
    transform: translateY(15vh);
    filter: opacity(0.8);
}
/* .courseSource img{
    border: 1px solid white;
    border-radius: 50px;
} */
.filter-section-inner{
    display: flex;
    position: absolute;
    top: 3.5rem;
    right: 16.5rem;
    opacity: 0.8;
    align-items: center;
    border-radius: 3px;
    padding: 0.15rem;
    cursor: pointer;
    justify-content: space-between;
    padding-left: 11px;
    border: 1px solid white;
}
.filter-section-inner:hover,.filter-section-inner:focus-within{
    background: #5e5e5e;
    border: 1px solid transparent;
}
.filter-dropdown{
    height: auto;
    width: fit-content;
    background-color: #515151;
    position: absolute;
    z-index: 3;
    right: 16.5vw;
    top: 15.7vh;
    border-radius: 3px;
    color: white;
    padding: 10px;
    padding-bottom: 20px;
    display: none;
}.filter-dropdown h5{
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
}
.filter-dropdown button{
    position: absolute;
    background: none;
    color: white;
    top: 6%;
    right: 2%;
}
.filter-dropdown label{
    font-size: 0.9rem;
    /* margin: 5px; */
    margin-left: 5px;
    margin-bottom: 5px;
}
.filter-section-inner span:last-child{
    transform: rotate(90deg);
    position: relative;
    left: 7px;
    color: white;
}
.filter-section-inner span:nth-last-child(2){
    height: 100%;
    width: 1px;
    background-color: white;
}
.course-filter{
    background: none;
    position: relative;
    bottom: 2px;
}
.course-filter:hover{
    opacity: 1;
}
.modal-warning{
    display: none;
    position: absolute;
    background-color: #ab2727;
    width: 20%;
    /* height: 5%; */
    bottom: -10%;
    left: 37%;
    padding: 0.5rem;
    border-radius: 2px;
    z-index: 2;
    text-align: center;
    transform: translate(50px, -50px);
}