.CatalogTable {
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Open Sans';
    border-collapse: collapse;
    width: 90%;
    table-layout: fixed;
}
.PerformanceTable {
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Open Sans';
    border-collapse: collapse;
    width: 90%;
    table-layout: fixed;
}
.tableheader{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 1%;
    border-collapse: collapse;
    width: 90%;
    table-layout: fixed;
}
.tablescroll{
    height: 58vh;
    overflow-y: scroll;
}
.tablescroll::-webkit-scrollbar, .tablescroll::-webkit-scrollbar{
    width:6px;
    border-radius: 20px;
}
.tablescroll::-webkit-scrollbar-thumb, .tablescroll::-webkit-scrollbar-thumb{
    background-color: green;
    border-radius: 20px;
}
.CatalogTable td, .PerformanceTable td{
    font-family: 'Open Sans';
    text-align: center;
    padding: 8px;
    color: white;
    border: 0.1px solid rgba(255, 255, 255, 0.095);
}
.CatalogTable th, .PerformanceTable th, .tableheader th{
    font-family: 'Open Sans';
    text-align: center;
    padding: 8px;
    color: white;
}
.PerfMetric{
    padding-top: 5%;
    text-align: center;
    color: rgba(255, 255, 255, 0.723);
}

p {
    color: white;   
}

.assign_button {
    margin-top: 3%;
    float: right;
    height: 4%;
    margin-right: 6%;
    padding: 0 1% 0 1%;
    font-family: 'Open Sans';
    background-color: rgb(1, 151, 1);
    color: white;
}

body {
    margin: 0;
    background-color: black;
}

.viewbtn {
    background-color:rgb(1, 151, 1);
    text-align: center;
    padding: 5px 10px 5px 10px;
    font-size: 12px;
    font-family: 'Open Sans';
    font-weight: 400;
    color: white;
}

h1 {
    font-size: 24px;
    color: #91d303;
    text-align: center;
    font-family: 'Open Sans';

    line-height: 24px;
}

h3 {
    font-size: 20px;
    color: white;
    margin-left: 300px;
    margin-top: 100px;
    margin-bottom: 0px;
    font-family: 'Open Sans';
    line-height: 24px
}
.modal-warning2{
    display: none;
    position: absolute;
    background-color: #ab2727;
    width: 20%;
    /* height: 5%; */
    bottom: -6%;
    left: 37%;
    padding: 0.5rem;
    border-radius: 2px;
    z-index: 2;
    text-align: center;
    transform: translate(50px, -50px);
}